@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;  
  font-family: "PT Serif", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}


@theme {
  
  --color-primary: #FFFFFF;    /* Navy Blue */
  --color-secondary: #FF8A00;  /* Bright Orange */
  --color-accent: #FFE29A;     /* Light Yellow */
  --color-dark: #c49323;      /* Dark Gold */
  --color-white: #FFFFFF;      /* White */
  --color-light: #F5F5F5;      /* Light Gray */
  --color-yellow: #F4B400
 
  

  /* Optional extras for shadows, text, etc. */
  --text-heading: #FCEFD2;
  --text-body: #EAEAEA;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

}

@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]){
    @apply outline-none focus:ring border border-gray-300 
    focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea {
    @apply outline-none focus:ring border border-gray-300 
    focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
}
